<div class="sprints_fieldset">
  <div class="sprints_header">
    <%= link_to_function("<h3>Kamienie milowe</h3>", "Effect.toggle('milestones', 'blind');") %>
  </div>

  <div class="backlog_sprint" id="milestones">
  <%= link_to image_tag("/plugin_assets/redmine_sprints/images/milestone_add.png")+ "Nowy kamień milowy",
    {:controller => 'milestones',:action => 'new', :project_id => @project},
    {:id => "new_milestone", :title => "Nowy kamień milowy",
    :onclick => "Modalbox.show(this.href, {title: this.title, width: 370}); return false;"}
  %>

    <% for milestone in Milestone.find_all_by_project_id(@project.id, :order => "deadline DESC" ) %>
      <%= render(:partial => "milestones/milestone", :locals => {:milestone => milestone}) %>
    <% end %>
  </div>
</div>