<div class="us_status">
  <div class="status_bar">
    <div style="width:<%=h data[:percent_done] -%>; background: #92ec56; height: 12px;">
      <p>Wykonanych:<%= data[:percent_done] %></p>
    </div>
  </div>
</div>