<script type="text/javascript">
  Event.observe(window, 'load', function(){
      if(<%= issue.redirect_to.nil? ? "false" :"true"  %>){
          window.location= '<%= issue.redirect_to %>';
      }
  });
</script>