/* 
    Document   : styles
    Created on : 2009-05-08, 16:01:09
    Author     : Martin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

